{% extends 'base.html' %}

{% block title %}Signup{% endblock %}

{% block content %}
<div class="container">
    <h2>Create Account</h2>

    {% for message in messages %}
        <p class="{{ message.tags }}">{{ message }}</p>
    {% endfor %}

    <form method="post">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="First Name" required>
         <input type="text" name="last_name" placeholder="Last Name" required>
        <input type="text" name="username" placeholder="Username" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password1" placeholder="Password" required>
        <input type="password" name="password2" placeholder="Confirm Password" required>

        <button type="submit">Sign Up</button>
    </form>

    <div class="link">
        Already have an account?
        <a href="{% url 'login' %}">Login</a>
    </div>
</div>
{% endblock %}
